# Autoconf stuff
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
*.m4
missing
Makefile
config.h
config.log
config.status
.deps
.libs
stamp-h1
lib*.pc
libtool
*.*~

# Compilation fluff
*.o
*.lo
*.la

# doxygen output
doxygen/api/
doxygen/full/

# Compiled binaries
examples/gamemus
tests/tests
